; Example config.ini
# Set your environment variables with export RING_USERNAME='user@host'
RING_USERNAME = username@host.com 
RING_PASSWORD = pAssWord
SCREENSHOT_DIRECTORY = /home/username/ring-screenshot/screenshots 
